.botao{
    background-color: #111;
    color:white;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid black;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.37);
    transition: 0.2s;
}
.botao:hover {
    border: 2px solid #000000;
    box-shadow: 1px 1px 10px #000000;
    background-color: aliceblue;
    color: #000000;
}